<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pressurelabs.flow">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".TheStreamActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EULAActivity"
            android:label=""
            android:parentActivityName=".TheStreamActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pressurelabs.flow.TheStreamActivity" />
        </activity>

        <activity
            android:name=".FlowSandBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ElementDesignerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlowStateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinishedFlowActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>